@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Lato';
}

.App {
  text-align: center;
}

.Header {
  z-index: 3;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Lato-Light;
  color: white;
  font-size: 4vw;
}

.background-changes {
  z-index: 1;
  position: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.Footer {
  font-size: 1.5vw;
  z-index: 4;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
}

.Footer a {
  text-decoration: none;
  color: white
}

.Box {
  z-index: 2;
  background: hsla(0, 0%, 0%, 0.6);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.Navbar {
  z-index: 3;
  position: fixed;
  left: 0;
}

.tooltip {
  color: white;
}

.play-button-container {
  z-index: 4;
  position: fixed;
  left: 0;
  bottom: 0;
}

.play-button-container input {
  filter: invert();
  width: 2vw;
  height: 2vw;
}

.play-button-container input:hover {
  width: 2.2vw;
  height: 2.2vw;
}

.text-nav-container p {
  font-size: 2vw;
  margin: 0;
}

.text-nav-container:hover p {
  color: transparent;
}

.text-nav-container p:hover {
  color: white;
}

.SocialLinks-container {
  z-index: 4;
  position: fixed;
  right: 0;
}

.SocialLinks-container:hover img {
  filter: none;
}

.SocialLinks-container:hover input {
  filter: none;
}

.SocialLinks-container img {
  filter: invert();
  width: 2vw;
  height: 2vw;
}

.SocialLinks-container input {
  filter: invert();
  width: 2vw;
  height: 2vw;
}

.SocialLinks-container img:hover {
  filter: invert();
}

.SocialLinks-container input:hover {
  filter: invert();
}

.textFooter:hover {
  font-weight: bold;
}

@media screen and (max-width: 1000px) {

  .textNav p {
    font-size: 3vw;
  }

  .SocialLinks-container img {
    filter: invert();
    width: 3vw;
    height: 3vw;
  }

  .SocialLinks-container input {
    filter: invert();
    width: 3vw;
    height: 3vw;
  }

  .play-button-container input {
    filter: invert();
    width: 3vw;
    height: 3vw;
  }
  
  .play-button-container input:hover {
    width: 3.5vw;
    height: 3.5vw;
  }

  .Footer {
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {

  .textNav p {
    font-size: 5vw;
  }

  .SocialLinks-container img {
    filter: invert();
    width: 5vw;
    height: 5vw;
  }

  .SocialLinks-container input {
    filter: invert();
    width: 5vw;
    height: 5vw;
  }

  .play-button-container input {
    filter: invert();
    width: 5vw;
    height: 5vw;
  }
  
  .play-button-container input:hover {
    width: 5.5vw;
    height: 5.5vw;
  }

  .Footer {
    font-size: 5vw;
  }
}