@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Lato';
}

.App {
  text-align: center;
}

.Header {
  z-index: 3;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Lato-Light;
  color: white;
  font-size: 4vw;
}

.Background {
  margin: 0 auto;
}

.Background img {
  margin: auto;
  height: auto;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Footer {
  z-index: 4;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
}

.Footer a {
  text-decoration: none;
  color: white
}

.Box {
  z-index: 2;
  background: hsla(0, 0%, 0%, 0.5);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.Navbar {
  z-index: 3;
  position: fixed;
  left: 0;
}

.textNav:hover {
  font-weight: 900;
}

.SocialLinks {
  z-index: 4;
  position: fixed;
  right: 0;
}

.SocialLinks img {
  filter: invert();
  width: 70%;
  height: 70%;
}

.SocialLinks input {
  filter: invert();
  width: 70%;
  height: 70%;
}

.SocialLinks img:hover {
  filter: invert();
  width: 73.5%;
  height: 73.5%;
}

.SocialLinks input:hover {
  width: 73.5%;
  height: 73.5%;
}

.textFooter:hover {
  font-weight: 900;
}